.nav-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container-mobile {
    justify-content: flex-start;
    padding-left: 0;
}

.mobile-tabs {
    width: 100%;
}

.mobileTab {
}

.tab {
}
